.Screen1{
    display: flex; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
background-color: #FFFFFF;flex-direction: column;justify-content: center;
align-items: center;
overflow: hidden;
}
.text-1-85884019e9aa440daeea0ab317f8065f{
    overflow: hidden;
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;
font-size: 32px;
font-weight: bold;

background: linear-gradient(103deg, #ff0036 0%, #ff9116 50%, #fe19fe 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
height: fit-content;
width: fit-content;
    
}
.imageview-1-aa98bc8496de4b5ca748e662d2579648{
    object-fit: contain;
    overflow: hidden;
    
height: 30vh;min-height: 30vh;
width: 30vh;min-width: 30vh;
    
}
